body {
    padding: 0;
    margin: 0;
    background: gray;
    height: 100vh;
    clear: both;
    overflow: hidden;
}

.settingsBtn {
    right: 0;
    top: 15em;
    float: right;
}

.settingsBtn:hover {
    cursor: pointer;
}

#usrOpt {
    right: 0;
    top: 7px;
    float: right;
}