/* Basic Styling */
html {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(41, 90, 119, 0.267);
}

/* Login Button */
.loginButton {
    position: absolute;
    right: 7px;
    top: 7px;
    height: 50px;
    width: 100px;
}
/* Body of Page */

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: gray;
    color: white;
    text-align: center;
  }

.footer p {
    padding-top: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}