<!DOCTYPE html>
<html>
<title>SFU | Admin Panel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="../css/admin.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script src="../js/admin.js"></script>
<body>
  <header>
    <div class="headBar">
      <h1>Welcome, <%= username %>.</h1>
    </div>
  </header>
    <nav>
      <ul>
        <li id="customise-user" class="active-tab">
          <center>
            <p>User</p>
          </center>
        </li>
        <li id="blacklist-user">
          <center>
          <p>Blacklist</p>
        </center>
        </li>
        <li id="premium-user">
          <center>
          <p>Premium</p>
        </center>
        </li>
        <li id="admin-user">
          <center>
          <p>Admin</p>
        </center>
        </li>
      </ul>
    </nav>
    <div class="container">
      <!-- User Search -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">https://stressfreeuptime.com/users/</span>
        </div>
    </div>

    <script>
      $("li").on("click", function(e) {
        $("li").toggleClass("active-tab", false);
        $(this).toggleClass("active-tab", true);
      })
    </script>
</body>
</html>
