<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
    <!-- Nav -->
    <nav>
        <!-- Login Button -->
        <button type="button" onclick="window.location.replace('http://127.0.0.1:80/login')" class="btn btn-success loginButton">Login</button>
    </nav>
    <!-- Body -->
    <center>
        <h1 class="title">
            Stress Free Uptime
        </h1>
    </center>

    <div class="textBox">xD</div>
    <!-- Footer -->
    <div class="alert footer" role="alert">
        <p>Stress Free Uptime - &copy; StressFreeUpTime.com</p>
    </div>
</body>
</html>