<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFU | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">

</head>

    <center>
        <header>
            <h1>Stress Free Uptime</h1>
            <img src="../images/aleph.png" alt="LOGO_NOUT_FOUND">
        </header>
    </center>
    <body>
    <!-- Footer -->
    <div class="alert footer" role="alert">
        <p>Stress Free Uptime - &copy; StressFreeUpTime.com</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>