<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFU - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/login.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
  <center>
   <h1 class="title">Stress Free Uptime - Register</h1>
  </center>
  <div id="register" class="container align-middle">
    <form action="/register" method="POST" id="register-form">
        <div class="form-group">
          <label for="email">First Name</label>
          <input name="firstName" class="form-control" id="firstName">
        </div>
        <div class="form-group">
          <label for="email">Last Name</label>
          <input name="lastName" class="form-control" id="lastName">
        </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input placeholder="example@e-mail.com" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
         <p><small id="emailHelp" class="form-text white">We'll never share your email with anyone else.</small></p>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input placeholder="Your Very Secret Password" name="password" type="password" class="form-control" id="password" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input placeholder="Your Very Secret Password" name="passwordConfirm" type="password" class="form-control" id="passwordconfirm" required>
        </div>
        <p>Already registered? <a href="/login">Login here</a></p><br>
        <button type="submit" name="submit" class="btn btn-primary" id="buttonreg">Register</button>
      </form>
    </div>
    <!-- Footer -->
    <div class="alert footer" role="alert">
      <p>Stress Free Uptime - &copy; StressFreeUpTime.com</p>
  </div>

<script src="../js/register.js"></script>

</body>
</html>